node-red/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b7d3902360afd761",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "940c24c5bc08d7ed",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "3ef57284c2a01871",
        "type": "mongodb",
        "hostname": "mongodb",
        "topology": "direct",
        "connectOptions": "",
        "port": 27017,
        "db": "cocoasecure",
        "name": "mongodb"
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "e046b850bb389628",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "a7acab6855658066"
            ]
        ]
    },
    {
        "id": "a7acab6855658066",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "function random(min, max, decimals = 1) {\n    return Number(\n        (Math.random() * (max - min) + min).toFixed(decimals)\n    );\n}\n\nfunction randomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nfunction pickRandom(items) {\n    return items[randomInt(0, items.length - 1)];\n}\n\n/*\n * Liste des capteurs et de leurs sites.\n */\nconst sensors = [\n    {\n        deviceId: \"ESP01\",\n        siteId: \"SITE-SP-001\",\n        site: \"San-Pedro Nord\",\n        lotId: \"LOT-2026-001\"\n    },\n    {\n        deviceId: \"ESP02\",\n        siteId: \"SITE-SB-001\",\n        site: \"Soubré\",\n        lotId: \"LOT-2026-002\"\n    },\n    {\n        deviceId: \"ESP03\",\n        siteId: \"SITE-GB-001\",\n        site: \"Grand-Béréby\",\n        lotId: \"LOT-2026-003\"\n    },\n    {\n        deviceId: \"ESP04\",\n        siteId: \"SITE-DL-001\",\n        site: \"Daloa\",\n        lotId: \"LOT-2026-004\"\n    }\n];\n\n/*\n * Scénarios possibles.\n *\n * Pondération :\n * - 60 % normal\n * - 25 % fraude\n * - 15 % maintenance\n */\nconst scenarioRoll = Math.random();\n\nlet scenarioType;\n\nif (scenarioRoll < 0.60) {\n    scenarioType = \"NORMAL\";\n} else if (scenarioRoll < 0.85) {\n    scenarioType = \"FRAUDE\";\n} else {\n    scenarioType = \"MAINTENANCE\";\n}\n\nconst selectedSensor = pickRandom(sensors);\n\nlet values;\nlet anomalyType = null;\n\n/*\n * Mesures normales et vraisemblables.\n */\nif (scenarioType === \"NORMAL\") {\n    values = {\n        temperature: random(34, 40),\n        humidity: random(52, 70),\n        co2: randomInt(480, 850),\n        light: randomInt(50000, 75000),\n        battery: randomInt(60, 100),\n        signal: randomInt(-78, -58)\n    };\n}\n\n/*\n * Mesures frauduleuses.\n * Une anomalie est choisie au hasard.\n */\nif (scenarioType === \"FRAUDE\") {\n    const fraudType = randomInt(1, 4);\n\n    if (fraudType === 1) {\n        anomalyType = \"TEMPERATURE_ELEVEE\";\n\n        values = {\n            temperature: random(55, 85),\n            humidity: random(52, 70),\n            co2: randomInt(480, 850),\n            light: randomInt(50000, 75000),\n            battery: randomInt(60, 100),\n            signal: randomInt(-78, -58)\n        };\n    }\n\n    if (fraudType === 2) {\n        anomalyType = \"HUMIDITE_TROP_BASSE\";\n\n        values = {\n            temperature: random(34, 40),\n            humidity: random(3, 18),\n            co2: randomInt(480, 850),\n            light: randomInt(50000, 75000),\n            battery: randomInt(60, 100),\n            signal: randomInt(-78, -58)\n        };\n    }\n\n    if (fraudType === 3) {\n        anomalyType = \"CO2_TROP_ELEVE\";\n\n        values = {\n            temperature: random(34, 40),\n            humidity: random(52, 70),\n            co2: randomInt(1600, 3000),\n            light: randomInt(50000, 75000),\n            battery: randomInt(60, 100),\n            signal: randomInt(-78, -58)\n        };\n    }\n\n    if (fraudType === 4) {\n        anomalyType = \"ANOMALIES_MULTIPLES\";\n\n        values = {\n            temperature: random(55, 85),\n            humidity: random(3, 18),\n            co2: randomInt(1600, 3000),\n            light: randomInt(1000, 15000),\n            battery: randomInt(40, 90),\n            signal: randomInt(-82, -60)\n        };\n    }\n}\n\n/*\n * Situation de maintenance :\n * valeurs environnementales normales,\n * mais batterie ou signal dégradé.\n */\nif (scenarioType === \"MAINTENANCE\") {\n    const maintenanceType = randomInt(1, 3);\n\n    if (maintenanceType === 1) {\n        anomalyType = \"BATTERIE_FAIBLE\";\n\n        values = {\n            temperature: random(34, 40),\n            humidity: random(52, 70),\n            co2: randomInt(480, 850),\n            light: randomInt(50000, 75000),\n            battery: randomInt(1, 14),\n            signal: randomInt(-78, -58)\n        };\n    }\n\n    if (maintenanceType === 2) {\n        anomalyType = \"SIGNAL_FAIBLE\";\n\n        values = {\n            temperature: random(34, 40),\n            humidity: random(52, 70),\n            co2: randomInt(480, 850),\n            light: randomInt(50000, 75000),\n            battery: randomInt(60, 100),\n            signal: randomInt(-98, -86)\n        };\n    }\n\n    if (maintenanceType === 3) {\n        anomalyType = \"BATTERIE_ET_SIGNAL_FAIBLES\";\n\n        values = {\n            temperature: random(34, 40),\n            humidity: random(52, 70),\n            co2: randomInt(480, 850),\n            light: randomInt(50000, 75000),\n            battery: randomInt(1, 14),\n            signal: randomInt(-98, -86)\n        };\n    }\n}\n\n/*\n * Message final envoyé sur MQTT.\n */\nconst data = {\n    ...selectedSensor,\n    ...values,\n\n    simulationType: scenarioType,\n    anomalyType: anomalyType,\n\n    timestamp: new Date().toISOString()\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "b28287862d149b93"
            ]
        ]
    },
    {
        "id": "b28287862d149b93",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "cacao/sanpedro/measurements",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b7d3902360afd761",
        "x": 690,
        "y": 1140,
        "wires": []
    },
    {
        "id": "aa17c663dcf3407f",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "cacao/sanpedro/measurements",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b7d3902360afd761",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "d3db500b3e59a855"
            ]
        ]
    },
    {
        "id": "d3db500b3e59a855",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 1240,
        "wires": [
            [
                "73abcc6a197932f3"
            ]
        ]
    },
    {
        "id": "5430c7c56ed96648",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "FRAUDES DETECTÉES",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1480,
        "wires": []
    },
    {
        "id": "cbbc8389aae6730f",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "940c24c5bc08d7ed",
        "name": "",
        "measurement": "sensor_measurements",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "CocoaSecure",
        "bucket": "cacao_measurements",
        "x": 540,
        "y": 1560,
        "wires": []
    },
    {
        "id": "73abcc6a197932f3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Analyse des mesures",
        "func": "const d = msg.payload;\n\nlet alerts = [];\nlet fraudScore = 0;\n\nif (!d.deviceId || !d.timestamp) {\n    alerts.push(\"Message incomplet\");\n    fraudScore += 40;\n}\n\nif (d.temperature < 20 || d.temperature > 50) {\n    alerts.push(\"Température incohérente\");\n    fraudScore += 30;\n}\n\nif (d.humidity < 20 || d.humidity > 85) {\n    alerts.push(\"Humidité incohérente\");\n    fraudScore += 30;\n}\n\nif (d.co2 < 300 || d.co2 > 1500) {\n    alerts.push(\"CO2 incohérent\");\n    fraudScore += 20;\n}\n\nif (d.battery < 10) {\n    alerts.push(\"Batterie très faible\");\n    fraudScore += 10;\n}\n\nd.fraudScore = fraudScore;\nd.isFraud = fraudScore >= 30;\nd.alerts = alerts;\n\n/*\nSortie 1 :\nToutes les mesures, normales ou frauduleuses,\ncontinuent vers InfluxDB.\n*/\nconst msgMesure = {\n    ...msg,\n    topic: d.isFraud ? \"mesure_frauduleuse\" : \"mesure_normale\",\n    payload: d\n};\n\n/*\nSortie 2 :\nUniquement les alertes frauduleuses\npartent vers MongoDB.\n*/\nlet msgAlerte = null;\n\nif (d.isFraud) {\n    msgAlerte = {\n        topic: \"fraude\",\n        payload: {\n            type: \"FRAUDE\",\n            niveau: \"CRITICAL\",\n            deviceId: d.deviceId,\n            siteId: d.siteId,\n            site: d.site,\n            lotId: d.lotId,\n            fraudScore: d.fraudScore,\n            alerts: d.alerts,\n            mesure: d,\n            createdAt: new Date().toISOString()\n        }\n    };\n}\n\nreturn [msgMesure, msgAlerte];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1400,
        "wires": [
            [
                "d34bd9fea1176348",
                "2cbcd2491b714799"
            ],
            [
                "5430c7c56ed96648",
                "df5d04d38b14714e"
            ]
        ]
    },
    {
        "id": "d34bd9fea1176348",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "TOUTES LES MESURES",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1240,
        "wires": []
    },
    {
        "id": "2cbcd2491b714799",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Préparer InfluxDB",
        "func": "const d = msg.payload;\n\nmsg.payload = [\n    {\n        temperature: d.temperature,\n        humidity: d.humidity,\n        co2: d.co2,\n        light: d.light,\n        battery: d.battery,\n        signal: d.signal,\n        fraudScore: d.fraudScore || 0\n    },\n    {\n        deviceId: d.deviceId,\n        site: d.site,\n        lotId: d.lotId\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1400,
        "wires": [
            [
                "cbbc8389aae6730f",
                "d19f5a7d0f09f8a4"
            ]
        ]
    },
    {
        "id": "df5d04d38b14714e",
        "type": "mongodb out",
        "z": "f6f2187d.f17ca8",
        "mongodb": "3ef57284c2a01871",
        "name": "fraud_alerts",
        "collection": "fraud_alerts",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 130,
        "y": 1540,
        "wires": []
    },
    {
        "id": "d19f5a7d0f09f8a4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug temporaire",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1320,
        "wires": []
    }
]